* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    background-color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Info Nav Bar */

.nav-info {
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-info img {
    height: 25px; /* Adjust the height of the location icon */
}

.nav-info-link {
    display: inline-flex;
    text-decoration: none; /* Removes underline from the link */
    align-items: center;
}

.nav-info-link  img {
    margin-right: 10px; /* Adjust margin between image and text */
}

.nav-info-link span {
    font-size: 14px; /* Adjust font size as needed */
}

.nav-info a, .nav-main a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

/* Main Nav Bar */

.nav-main {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 90px;
    padding: 0 10px;
    justify-content: center;
}


.nav-main .logo {
    height: 90px;
   margin-right: 100px;/* Space between the logo and the header text */
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0F4C75;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#sidemenu {
    list-style-type: none;
    padding: 0;
    margin: 0 15% 0 0;
    display: flex;
    gap: 20px; /* Adjust the spacing between menu items */
}

#sidemenu li {
    display: inline;
}

#sidemenu li a {
    text-decoration: none;
    color: #000; /* Adjust as needed */
    padding: 10px 15px;
}

/* Main Image*/

.image-main {
    position: relative;
}

.image-main img {
    height: auto; /* Adjust the height as needed */
    max-width: 100%; /* Maintain aspect ratio */
    display: block; /* Remove inline-block spacing issue */
    margin: 0 auto; /* Center the image if needed */
}

.image-text {
    position: absolute;
    top: 20%;
    padding: 10px;
    margin: 0 0 0 5%;
}

.image-text  h1{
    font-size:35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3%;
    color: #0F4C75;
    text-align: center;
}

.image-text p {
    font-size: 18px;
    color: #000;
    text-align: center;
}

/* Footer */

:root {
    --footer-background-color: rgb(240, 240, 240);
}
:root {
    --copyright-background-color: rgb(80, 80, 80);
}


footer {
    background-color: var(--footer-background-color);
    height: fit-content;
    color: rgb(0, 0, 0);
    padding: 20px 0 0 0;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

.footer-content {
    background-color: var(--footer-background-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    height: 300px;
    margin: 20px 0 20px 0;
}

.footer-content div,
.footer-content h3,
.footer-content ul,
.footer-content ul li,
.footer-content ul li a,
.footer-content img,
.footer-content p {
    background-color: var(--footer-background-color);
}

.copyright,
.copyright p,
.social-links,
.social-links ul,
.social-links ul li,
.social-links ul li a,
.social-links img {
    background-color: var(--copyright-background-color);
}

.footer-content h3 {
    font-size: 20px;
    margin-bottom: 15%;
}

.footer-content .for-us p {
    font-size: 15px;
    text-align: left;
    text-wrap: wrap;
}

.footer-content .working-time ul li {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: left;
}

.footer-content .services {
    margin-right: 5%;
}

.footer-content .services ul li{
    margin-left: 100px;
    text-align: left;
    font-size: 16px;
    margin-top: 15px;
}

.footer-content img {
    height: 120px;
    margin-top: -20%;
}
.footer-content p {
    max-width: 200px;
    text-align: center;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content ul li a:hover {
    color: #c25f5f;
}

.footer-content .contact-info {
    text-align: left; /* Align items to the left if necessary */
}

.footer-content .contact-info li {
    margin-bottom: 10px; /* Adjust vertical spacing between items */
    list-style: none; /* Remove default list styles */
}

.footer-content .contact-info img {
    margin-top: 3px;
    height: 25px;
    margin-right: 10px; /* Adjust as needed */
    vertical-align: middle; /* Align images vertically */
}

.footer-content .contact-info p {
    font-size: 16px;
    margin: 5px 0 0 0;
    display: inline; /* Ensure text is displayed inline */
    vertical-align: middle; /* Align text vertically with image */
}

/* Copyright*/
.copyright {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 80px;
}

.copyright p {
    font-size: 16px;
    display: inline-block;
    margin-right: 70%;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.social-links {
    vertical-align: middle;
    margin-top: 0px;
    display: inline-block;
}

.social-links ul {
    display: inline;
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline;
    margin-right: 20px;
}

.social-links ul li a {
    color: #333;
    text-decoration: none;
}

.social-links img {
    height: 25px;
    vertical-align: middle;
}


/* Main */

/* Reviews*/

.main-content {
    height: 100%;
    margin: 5% 0;
}

.main-content h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    color: #0F4C75;
    
}

.reviews-carousel {
    display: flex;
    text-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 500px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 20px;
    position: relative;
    
}

/* Container for reviews */
.reviews {
    display: flex;
    text-wrap: wrap;
    transition: transform 0.5s ease;
    gap: 20px;
    max-width: 1240px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

/* Individual review */
.review {
    scroll-snap-align: start;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px; /* Adjust minimum width as needed */
    flex: 0 0 auto;
    box-sizing: border-box;
    
}

/* Header section of the review */
.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-details {
    flex: 1;
}

.review-details h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.review-date {
    font-size: 0.9em;
    color: #666;
}

.review-stars {
    font-size: 1.5em;
    color: #f1c40f;
}

.star {
    margin-right: 2px;
}

/* Review content */
.review-content {
    line-height: 1.5;
}

/* Controls */
/* .control-prev {
    position: absolute;
    top: 50px;
    width: 50px;
    margin-top: 5%;
    margin-left: -5%;
}

.control-next {
    position: absolute;
    top: 50px;
    width: 50px;
    margin-top: 5%;
    margin-left: 85%;
}

.control-btn {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    color: #007bff;
}

.control-btn:hover {
    color: #0056b3;
}

.control-btn:focus {
    outline: none;
} */

/* About Us*/

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.about-us-container .about-us-title {
    font-size: 32px;
    color: #0F4C75;
    margin: 5% auto;
}

.about-us-container .about-us h3 {
    font-size: 22px;
    margin: 5%;
    color: #000;
}


.why-choose-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between items */
}

.why-choose-item img {
    width: 64px;
    vertical-align: top;
}

.why-choose-item {
    flex: 1 1 calc(33% - 20px); /* Adjust width of each item (33% for three items per row) */
}

.why-choose-item p {
    margin: 2% auto;
    vertical-align: top;
    padding: 20px;
    background-color: #fff; /* Example background color */
    font-size: 18px;
    color: #684451;
    text-align: center;
}


/* Contact Page */


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5% 0;
    
}

.contact-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 700px;
    width: 100%;
    overflow: hidden;
}

.contact-title {
    color: #000;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.contact-details {
    padding: 20px;
    text-align: center;
}

.contact-details h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #d84315;
}

.contact-details p {
    margin: 10px 0;
    font-size: 16px;
}

.contact-details .icon {
    margin-right: 10px;
}

.contact-details a {
    color: #d84315;
    text-decoration: none;
}

.contact-details .working-hours {
    margin-top: 20px;
    font-size: 16px;
}

.contact-details .working-hours .closed {
    color: red;
}

.map-container {
    width: 100%;
    height: 450px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Services */

.services-container {
    max-width: 1200px;
    margin: 5% auto;
    padding: 20px;
}

.services-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
    color: #0F4C75;
}

.services-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.services-container header h1 {
    font-size: 2em;
    margin: 0;
}

.services-container header .view-all {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.main-service {
    display: flex;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main-service img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main-service .main-content {
    flex: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main-service h2 {
    margin-top: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main-service p {
    margin: 10px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main-service button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.other-services {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.service img {
    max-width: 100%;
    border-radius: 8px;
}

.service h3 {
    margin: 10px 0 0 0;
}

/* Team */

.team-header {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:  0 auto;
}

.team-header h1 {
    color: #0F4C75;
    margin: 3% auto;
}

.team-header p {
    color: #000;
    font-size: 16px;
    margin-bottom: 3%;
    text-align: center;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Add some space between team members */
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #000; /* Corrected to make the border visible */
    max-width: 400px;
    margin: 2% 10px ;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; /* Background color for better readability */
}

.person img {
    width: 256px;
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 20px; /* Space between image and text */
}

.person h1, .person p {
    margin: 0;
    padding: 5px;
}

.person h1 {
    font-size: 1.5em;
    color: #333;
}

.person p {
    color: #666;
    font-size: 1em;
}

/* ----------Responsive Css----------  */
nav .fas {
    display: none;
}

@media only screen and (max-width: 1600px){

    .header-text img {
        display: block;
    }

    .header-text {
        /* margin-top: 100%; */
        font-size: 20px;
    }

    .header-text h1 {
        font-size: 35px;
    }

    .about-col-1 img {
        width: 70%;
    }
}

@media only screen and (max-width: 1300px){

    .for-us {
        display: none;
    }

    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-right: 0;
    }
    
    .services {
        margin-left: -5%;
    }

    .working-time h3 {
        margin-left: -20%;
    }

    .services h3 {
        margin-left: -15%;
    }

    
    .services,
    .contact-info,
    .working-time {
        flex: 1; /* Take up equal space */
    }
}

@media only screen and (max-width: 600px){

    .nav-info {
        display: none;
    }

    .image-main {
        width: 100%;
        height: auto;
    }

    .image-text h1 {
        font-size: 20px;
    }

    .reviews-carousel {
        overflow-x: auto;
        white-space: nowrap;
    }

    .review {
        display: inline-block;
        width: 100%; /* Ensure each review takes full width */
        vertical-align: top; /* Align reviews at the top */
        white-space: normal; /* Reset white-space to normal */
        margin-right: 0 !important; /* Reset margin-right */
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #0F4C75;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .footer-content {
        display: inline;
    }
    
}

.reviews::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.reviews::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

reviews::-webkit-scrollbar-thumb {
    background: #888; /* Background of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.reviews::-webkit-scrollbar-thumb:hover {
    background: #555; /* Background of the scrollbar thumb on hover */
}

.reviews {
    scrollbar-width: thin; /* Width of the scrollbar for Firefox */
    scrollbar-color: #888 transparent; /* Thumb color and track color for Firefox */
}

.reviews ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}